%nav.topbar{:id => "ceiling"}
  .topbar-inner
    .container
      %h3= link_to APPLICATION_NAME, root_path
      %ul.nav.primary-nav
        %li
          = link_to "What?", "#what"
        %li
          = link_to "Why?", "#why"
        %li
          = link_to "How?", "#how"
        %li
          = link_to "Examples", "#examples"
        %li
          = link_to "Contact", "#contact"
        %li
          = link_to "Credits", "#credits"
      %ul.nav.secondary-nav
        %li.menu
          = link_to "Quick Start", "#", :class => "trigger menu"
          %ul.menu-dropdown
            %li
              = link_to "Download Feng Shui", "#"
            %li
              = link_to "Fork Me on GitHub", "https://github.com/lightyrs/feng-shui"
            %li
              = link_to "Send Me an Email", "mailto:harris@lightyrs.com"
            %li.divider
            %li
              = link_to "lightyrs", "http://lightyrs.com"
